<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<!--
  - Spring context file for EligibilityIVRFacade.
  - 
 -->
<beans>
	<!-- This properties file defines ldap properties that identityService depends on -->
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:/ivr_application_test.properties</value>
			</list>
		</property>
	</bean>

	<!-- ========================= RESOURCE DEFINITIONS ========================= -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"><value>${jdbc.driverClassName}</value></property>
		<property name="url"><value>${jdbc.url}</value></property>
		<property name="username"><value>${jdbc.username}</value></property>
		<property name="password"><value>${jdbc.password}</value></property>
	</bean>

	<!-- A non-pooling based JMS provider. Will pool later by borrowing code from ActiveMQ -->
	<bean id="jmsClient" class="org.sen.crossplane.transport.impl.JmsClientImpl">
		<property name="ipAddress">
			<value>${jms.ip.address}</value>
		</property>			
		<property name="port">
			<value>${jms.port}</value>
		</property>
		<property name="timeOut">
			<value>${jms.timeout}</value>
		</property>
		<property name="queueName">
			<value>${jms.queue.name}</value>
		</property>
	</bean>

	<import resource="classpath:/org/sen/crossplane/eligibility/service/EligibilityServiceLocal.ctx.xml"/>
	<import resource="classpath:/org/sen/crossplane/benefits/service/BenefitsServiceLocal.ctx.xml"/>
	<import resource="classpath:/org/sen/crossplane/claim/service/ClaimServiceLocal.ctx.xml"/>
	
	<bean id="ivrLoggingInterceptor" class="org.sen.services.interceptor.IVRLoggingInterceptor"/>

	<bean id="eligibilityIVRFacade" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<value>org.sen.services.eligibilityAndBenefits.facade.EligibilityAndBenefitsIVRFacade</value>
		</property>
		<property name="target">
			<bean class="org.sen.services.eligibilityAndBenefits.facade.impl.EligibilityAndBenefitsIVRFacadeImpl">
				<property name="eligibilityService">
					<ref bean="eligibilityService"/>
				</property>
				<property name="benefitsService">
					<ref bean="benefitsService"/>
				</property>
			</bean>
		</property>
		<property name="interceptorNames">
			<list>				
				<value>ivrLoggingInterceptor</value>
			</list>
		</property>
	</bean>
	
    <bean id="claimIVRFacade" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<value>org.sen.services.claim.facade.ClaimIVRFacade</value>
		</property>
		<property name="target">
			<bean id="claimIVRFacadeTarget" class="org.sen.services.claim.facade.impl.ClaimIVRFacadeImpl">
				<property name="eligibilityService">
					<ref bean="eligibilityService"/>
				</property>
				<property name="claimService">
					<ref bean="claimService"/>
				</property>
			</bean>
		</property>
		<property name="interceptorNames">
			<list>				
				<value>ivrLoggingInterceptor</value>
			</list>
		</property>
	</bean>		

    <bean id="providerIVRFacade" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<value>org.sen.services.provider.facade.ProviderIVRFacade</value>
		</property>
		<property name="target">
			<bean id="providerIVRFacadeTarget" class="org.sen.services.provider.facade.impl.ProviderIVRFacadeImpl">
				<property name="providerService">
					<ref bean="providerService"/>
				</property>
			</bean>
		</property>
		<property name="interceptorNames">
			<list>				
				<value>ivrLoggingInterceptor</value>
			</list>
		</property>
	</bean>		

</beans>
